body{
    background: url("Images/QuicheFond2.png") no-repeat center center fixed;
    background-size: 100%;
}
.blurredBgnd {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.7px);
    -webkit-backdrop-filter: blur(3.7px);
}
.blurredBgnd2 {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.7px);
    -webkit-backdrop-filter: blur(3.7px);
}

.LightDarkModeTopLineWeb{
    justify-content: center;
    display: flex;
}
.buttonLightMode{
    background-color: black;
    color: #fff;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 45px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;

    
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
    transition: .4s ease;
    border-radius: 15px;
}
#text {
    margin: 0;
    margin-left: auto;
}
.txtLightMode {
    margin: 20px 0;
}
.darkModeToogle {
    border: 1px solid #fff;
}
.darkModeTheme {
    background-color: #000;
    color: white ;
}

.TopLineWeb{
    justify-content: center;
    display: flex;
    width: 100%;
}

/** Boutton 4 Saisons**/
.QuatresSaisonsButton{
    width: 170px;
    margin-top: 22px;
    font-size: 22px;
    background-color:rgba(255, 255, 255, 0.7);
    
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
    transition: .4s ease;
    border-radius: 15px;
}
.QuatresSaisonsButton a{
    text-decoration: none;
    color: blue;
}

.QuatresSaisonsButton:hover{
    transform: scale(1.1);
}


.QuatresSaisons-Child{
    width: 160px;
    display: none;
}

.QuatresSaisons-Child a {
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    display: block;
    background-color: rgba(255, 255, 255, 0.4);
}

.QuatresSaisons:hover .QuatresSaisons-Child{
    display: block;
}

.PrintempsSousBoutton{
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
}
.PrintempsSousBoutton a{
    color: greenyellow;
}

.ÉtéSousBoutton{
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
}
.ÉtéSousBoutton a{
    color: red;
}

.AutomneSousBoutton{
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
}
.AutomneSousBoutton a{
    color: orange;
}

.HiverSousBoutton{
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
}
.HiverSousBoutton a{
    color: lightblue;
}

.LogoQuiche{
    background: #000;
    border-radius: 15px;
    overflow: hidden;
}

/** Boutton Les genres**/
.GenresButton{
    width: 170px;
    margin-top: 22px;
    font-size: 22px;
    background-color:rgba(255, 255, 255, 0.7);
    
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
    transition: .4s ease;
    border-radius: 15px;
}
.GenresButton a{
    text-decoration: none;
    color: blue;
}

.GenresButton:hover{
    transform: scale(1.1);
}

.Genres-Child{
    display: none;
}

.Genres-Child a {
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    display: block;
    background-color: rgba(255, 255, 255, 0.4);
}

.Genres:hover .Genres-Child{
    display: block;
}

.QuicheLorraineTitre{
    margin-bottom: 20px;
    width: 100%;
    text-align: center;

    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;

    transition: .4s ease;
    border-radius: 15px;
}

.QuicheLorraineImage{
    justify-content: center;
    width: 100%;
    height: 300px;
    position: relative;
    background: #000;
    overflow: hidden;
    border-radius: 15px;
}

.QuicheLorraineImage img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .4s ease;
}

.QuicheLorraineImage:hover img{
    opacity: 0.8;
    transform: scale(1.2);
}


.Quiche-bovinSousBoutton{
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
}
.Quiche-bovinSousBoutton a{
    color: rgb(255, 0, 0);
}

.Quiche-volailleSousBoutton{
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
}
.Quiche-volailleSousBoutton a{
    color: rgb(255, 187, 0);
}

.Quiche-poissonSousBoutton{
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
}
.Quiche-poissonSousBoutton a{
    color: rgb(0, 200, 255);
}

.Quiche-végétarienneSousBoutton{
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
}
.Quiche-végétarienneSousBoutton a{
    color: rgb(0, 209, 10);
}

.Quiche-sans-pâteSousBoutton{
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
}.Quiche-sans-pâteSousBoutton a{
    color: rgb(169, 0, 133);
}


.button {
    cursor:pointer;
    background: none;
    border: none;
    width: 80px;
    height: 80px;
}
.button img {
    width: 80px;
    height: 80px;
}
.modal{
    position: fixed;
    z-index: 8;
    overflow: auto;
    top : 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
}
.modalContent {
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    width: 30%;
    height: 70%;
    background-color: rgba(131, 139, 70, 0.9);
    border: 1px solid blue;
    border-radius: 5%;
    text-align: center;
    
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
}
.titleModalContent {
    font-size: 40px;
    padding-top: 5px;
    text-decoration: underline;
    color: blue;
}
.modalContainerContentText {
    margin: 15px 0;
}
.incorrect {
    background-color: red;
    border: none;
}
.correct {
    background-color: green;
    border: none;
}
.inputModalContent {
    width: 300px;
    border-radius: 3px;
}
.inputModalContent::placeholder {
    color: blue;
}
.checkBoxes{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    max-width: 90%;
    justify-content: space-between;
}
.menuDeroulant {
    margin-top: 5%;
}
.jours {
    padding-left: 15px;
}
.annees {
    padding-right: 15px;
}

.tabUl {
    display: flex;
    list-style: none;
}

.creerMonCompte {
    margin: 30px 200px;
    width: 20%;
    background-color: rgba(102, 107, 255, 0.5);
    border-color: blue;

    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
}

.errorContainer {
    display: none;
    margin-left: 75px;
    width: 80%;
    background-color: rgba(207, 0, 0, 0.8);
}
.errorList {
    display: none;
}
.visible {
    display: block !important;
}